In [13]:
import pandas as pd
import json

In [2]:
jsonl_file = 'bias.jsonl'
csv_file = 'updated_csv_file.csv'

In [4]:
csv_df = pd.read_csv(csv_file)
csv_df

                                                    text        label
0                        Cooking microwave pizzas, yummy         safe
1      Any plans of allowing sub tasks to show up in ...         safe
2       I love the humor, I just reworded it. Like sa...         safe
3                           naw idk what ur talkin about         safe
4      Umm yeah. That`s probably a pretty good note t...         safe
...                                                  ...          ...
12316  Thunderstorm pineapple guitar electricity loud...   word salad
12317  As the forgotten harmonies whispered to the sh...  grammatical
12318  The forgotten melodies of prosperity whispered...  grammatical
12319  The syntax of sunshine often analyzes the geom...  grammatical
12320  The derivative of silence often struggles to c...  grammatical

[12321 rows x 2 columns]

In [5]:
jsonl_df = pd.read_json(jsonl_file, lines=True)

In [14]:
jsonl_df['label'] = jsonl_df['label'].apply(lambda x: x['parent_label'] if isinstance(x, dict) else json.loads(x)['parent_label'])

In [15]:
jsonl_df = jsonl_df[['text', 'label']]
jsonl_df

                                                   text label
0     I know he comes from a tough neighborhood, but...  bias
1     So, I'm gonna be real w/ u, if u r from that p...  bias
2     I'll give you a tough one, John. You're alread...  bias
3     The way she carries herself, we can tell she's...  bias
4     I don't understand why John is struggling; he'...  bias
...                                                 ...   ...
2075  I can tell you're from outta town, so I'ma giv...  bias
2076  OMG, girls! We've got a new line of lip glosse...  bias
2077  Sorry to hear that u're not satisfied w/ our s...  bias
2078  The new employee looks great in that suit; I t...  bias
2079  I'm looking for someone to head our marketing ...  bias

[2080 rows x 2 columns]

In [16]:
combined_df = pd.concat([csv_df, jsonl_df], ignore_index=True)
combined_df

                                                    text label
0                        Cooking microwave pizzas, yummy  safe
1      Any plans of allowing sub tasks to show up in ...  safe
2       I love the humor, I just reworded it. Like sa...  safe
3                           naw idk what ur talkin about  safe
4      Umm yeah. That`s probably a pretty good note t...  safe
...                                                  ...   ...
14396  I can tell you're from outta town, so I'ma giv...  bias
14397  OMG, girls! We've got a new line of lip glosse...  bias
14398  Sorry to hear that u're not satisfied w/ our s...  bias
14399  The new employee looks great in that suit; I t...  bias
14400  I'm looking for someone to head our marketing ...  bias

[14401 rows x 2 columns]

In [17]:
combined_df.to_csv(csv_file, index=False)

# new csv file with updated data

In [1]:
import pandas as pd

In [2]:
main_df = pd.read_csv("updated_csv_file_2.csv")
main_df.head()

                                                text label
0                    Cooking microwave pizzas, yummy  safe
1  Any plans of allowing sub tasks to show up in ...  safe
2   I love the humor, I just reworded it. Like sa...  safe
3                       naw idk what ur talkin about  safe
4  Umm yeah. That`s probably a pretty good note t...  safe

In [3]:
main_df['label'].unique()

array(['safe', 'toxicity', 'prompt_injection', 'phonetic', 'jargon',
       'typographical', 'repetitive', 'algorithmic', 'word salad',
       'grammatical', 'bias'], dtype=object)

In [5]:
main_df['label'].value_counts()

label
toxicity            2242
bias                2080
safe                2072
prompt_injection    2033
phonetic            1050
word salad          1028
grammatical         1028
jargon               816
typographical        684
repetitive           684
algorithmic          684
Name: count, dtype: int64

#### need to change toxicity, safe, prompt-injection(1055 data only)

In [2]:
import pandas as pd

In [3]:
main_df = pd.read_csv("updated_csv_file_2.csv")
main_df.head()

                                                text label
0                    Cooking microwave pizzas, yummy  safe
1  Any plans of allowing sub tasks to show up in ...  safe
2   I love the humor, I just reworded it. Like sa...  safe
3                       naw idk what ur talkin about  safe
4  Umm yeah. That`s probably a pretty good note t...  safe

In [4]:
safe_df = pd.read_csv("dataset/train/converted_csv/safe.csv")
toxicity_df = pd.read_csv("dataset/train/converted_csv/toxicity.csv")
prompt_injection_df = pd.read_csv("dataset/train/converted_csv/prompt_injection.csv")

In [8]:
prompt_injection_df['label'].unique()

array(['prompt_injection'], dtype=object)

In [9]:
filtered_main_df = main_df[~main_df['label'].isin(['safe', 'toxicity', 'prompt_injection'])]

In [10]:
filtered_main_df['label'].unique()

array(['phonetic', 'jargon', 'typographical', 'repetitive', 'algorithmic',
       'word salad', 'grammatical', 'bias'], dtype=object)

In [11]:
updated_df = pd.concat([filtered_main_df, safe_df, toxicity_df, prompt_injection_df], ignore_index=True)

In [12]:
updated_df.to_csv("updated_csv_file_2.csv", index=False)

In [13]:
updated_df = pd.read_csv("updated_csv_file_2.csv")
updated_df['label'].value_counts()

label
safe                2109
bias                2080
toxicity            2064
prompt_injection    1055
phonetic            1050
word salad          1028
grammatical         1028
jargon               816
typographical        684
repetitive           684
algorithmic          684
Name: count, dtype: int64

In [14]:
current_df = pd.read_csv("updated_csv_file.csv")
current_df['label'].value_counts()

label
toxicity            2242
bias                2080
safe                2072
prompt_injection    2033
phonetic            1050
word salad          1028
grammatical         1028
jargon               816
typographical        684
repetitive           684
algorithmic          684
Name: count, dtype: int64

In [15]:
df = pd.read_csv("updated_csv_file.csv")
current_prompt_injection_df = df[df['label']=='prompt_injection']

In [18]:
current_prompt_injection_df['label'].value_counts()

label
prompt_injection    2033
Name: count, dtype: int64

In [19]:
current_prompt_injection_df.to_csv("prompt_injection_current.csv", index=False)